<nav class="mainNavbar">
    <mat-toolbar>
        <a href="#">Kevin Herbst</a>
        <span class="example-spacer"></span>
        <div id="desktopNav" class="desktopNav">
            <a translate (click)="navigation.forceNavigate('aboutMe')" [ngClass]="{ active: isActive(0) }">About me</a>
            <a translate (click)="navigation.forceNavigate('mySkills')" [ngClass]="{ active: isActive(1) }">Skills</a>
            <a translate (click)="navigation.forceNavigate('portfolio')"
                [ngClass]="{ active: isActive(2) }">Portfolio</a>
            <a translate (click)="navigation.forceNavigate('form')" [ngClass]="{ active: isActive(3) }">Contact</a>
            <a translate routerLink="/imprint" [ngClass]="{ active: isActive(4) }">Imprint</a>
            <img class="flag" *ngIf="language === 'en'"
                (click)="translate.use('de'); this.dataService.setLanguage('de')" src="./assets/img/germanFlag.svg"
                alt="translate german button">
            <img class="flag" *ngIf="language === 'de'"
                (click)="translate.use('en'); this.dataService.setLanguage('en')" src="./assets/img/englishFlag.svg"
                alt="translate english button">
        </div>
        <div class="mobileNav">
            <input type="checkbox" id="menyAvPaa">
            <label id="burger" class="burger" for="menyAvPaa">
                <div></div>
                <div></div>
                <div></div>
            </label>
            <nav id="meny">
                <div class="mobileNavLinks">
                    <a translate (click)="navigation.forceNavigate('aboutMe')">About me</a>
                    <a translate (click)="navigation.forceNavigate('mySkills')">My Skills</a>
                    <a translate (click)="navigation.forceNavigate('portfolio')">Portfolio</a>
                    <a translate (click)="navigation.forceNavigate('form')">Contact</a>
                    <a translate routerLink="/imprint">Imprint</a>
                    <div class="flagContainer">
                        <img class="flag" *ngIf="language === 'en'"
                            (click)="translate.use('de'); this.dataService.setLanguage('de')"
                            src="./assets/img/germanFlag.svg" alt="translate german button">
                        <img class="flag" *ngIf="language === 'de'"
                            (click)="translate.use('en'); this.dataService.setLanguage('en')"
                            src="./assets/img/englishFlag.svg" alt="translate english button">
                    </div>
                </div>
            </nav>
        </div>
    </mat-toolbar>
</nav>