<nav>
    <mat-toolbar>
        <span>Kevin Herbst</span>
        <span class="example-spacer"></span>
        <div class="desktopNav">
            <a href="#aboutMe">
                About me
            </a>
            <a href="#mySkills">
                Skills
            </a>
            <a href="#portfolio">
                Portfolio
            </a>
            <a href="#form">
                Contact
            </a>
            <a href="#">
                Imprint
            </a>
        </div>
        <div class="mobileNav">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <img src="/assets/img/menu.svg">
            </button>
        </div>
    </mat-toolbar>
</nav>