<nav class="mainNavbar">
    <mat-toolbar>
        <a href="#">Kevin Herbst</a>
        <span class="example-spacer"></span>
        <div id="desktopNav" class="desktopNav">
            <a href="#aboutMe" [ngClass]="{ active: isActive(0) }">About me</a>
            <a href="#mySkills" [ngClass]="{ active: isActive(1) }">Skills</a>
            <a href="#portfolio" [ngClass]="{ active: isActive(2) }">Portfolio</a>
            <a href="#form" [ngClass]="{ active: isActive(3) }">Contact</a>
            <a routerLink="/imprint" [ngClass]="{ active: isActive(4) }">Imprint</a>
        </div>
        <div class="mobileNav">
            <input type="checkbox" class="menyAvPaa" id="menyAvPaa">
            <label id="burger" class="burger" for="menyAvPaa">
                <div></div>
                <div></div>
                <div></div>
            </label>
            <nav id="meny">
                <div class="mobileNavLinks">
                    <a href="#aboutMe">About me</a>
                    <a href="#mySkills">My skills</a>
                    <a href="#portfolio">Portfolio</a>
                    <a href="#form">Contact</a>
                    <a routerLink="/imprint">Imprint</a>
                </div>
            </nav>
        </div>
    </mat-toolbar>
</nav>