<footer>
    <div>
        <h2>Kevin</h2>
        <a translate class="imprintLink" routerLink="/imprint">Imprint</a>
    </div>
    <p>Kevin Herbst 2023</p>
    <div class="socialIconBox">
        <a href="#">
            <img src="/assets/img/githubIcon.svg">
        </a>
        <a href="#">
            <img src="/assets/img/emailIcon.svg">
        </a>
        <a href="#">
            <img src="/assets/img/linkedinIcon.svg">
        </a>
    </div>
    <a translate routerLink="/imprint" class="imprintLinkMobile">Imprint</a>
</footer>