footer {
  border-top: 4px solid #00bee8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 1rem;
  position: relative;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }

  @media (width > 991px) {
    flex-direction: unset;
    justify-content: space-between;
    padding: 1rem 4rem;
    h2 {
      margin: 10% 0%;
    }
  }
}

.imprintLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: absolute;
  bottom: 15%;
  @media (width <= 991px) {
    display: none;
  }
}

.imprintLinkMobile {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  position: absolute;
  bottom: 20px;
  @media (width > 991px) {
    display: none;
  }
}

.socialIconBox {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 80px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }

    img {
      height: 40px;

      @media (width <= 430px) {
        height: 35px;
      }

      @media (width > 991px) {
        min-height: 45px;
        height: 2.8vw;
      }
    }
  }
  @media (width > 991px) {
    width: 20%;
    margin-bottom: 0;
  }
}
