<footer>
    <div class="logoContainer">
        <a href="#"><img src="./assets/img/logo.png" alt="logo"></a>
        <a translate class="imprintLink" routerLink="/imprint">Imprint</a>
    </div>
    <p>Kevin Herbst 2023</p>
    <div class="socialIconBox">
        <a href="https://github.com/ImForsaken" target="_blank">
            <img src="./assets/img/githubIcon.svg" alt="Github logo">
        </a>
        <a href="mailto: contact@herbst-kevin.de">
            <img src="./assets/img/emailIcon.svg" alt="Email icon">
        </a>
        <a href="https://www.linkedin.com/in/kevin-herbst-261992261/" target="_blank">
            <img src="./assets/img/linkedinIcon.svg" alt="Linked in logo">
        </a>
    </div>
    <a translate routerLink="/imprint" class="imprintLinkMobile">Imprint</a>
</footer>