<footer>
    <div>
        <h2>Kevin</h2>
        <a translate class="imprintLink" routerLink="/imprint">Imprint</a>
    </div>
    <p>Kevin Herbst 2023</p>
    <div class="socialIconBox">
        <a href="https://github.com/ImForsaken" target="_blank">
            <img src="./assets/img/githubIcon.svg">
        </a>
        <a href="mailto: Kevin-Herbst1993@web.de">
            <img src="./assets/img/emailIcon.svg">
        </a>
        <a href="https://www.linkedin.com/in/kevin-herbst-261992261/" target="_blank">
            <img src="./assets/img/linkedinIcon.svg">
        </a>
    </div>
    <a translate routerLink="/imprint" class="imprintLinkMobile">Imprint</a>
</footer>