<!-- <section>
    <div class="aboutMeContainer">
        <div class="aboutMeBox">
            <h2>About me</h2>
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit
                amet
                porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </span>
        </div>
        <div class="aboutMePersonalBox">
            <img src="/assets/img/bulbMobile.svg">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
        <div class="aboutMePersonalBox">
            <img src="/assets/img/puzzleMobile.svg">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </span>
        </div>
    </div>
    <img class="purpleShadow" src="/assets/img/aboutMePurpleShadow.svg">
</section> -->

<section>
    <div id="aboutMe" class="aboutMeContainer">
        <div class="aboutMeBox">
            <h2 translate>About me</h2>
            <p translate>Hi, I am a Front-end deverloper based near Stuttgart, Germany.<br>
                As an enthusiastic frontend developer, I
                want to turn my fascination for the IT industry into a profession. I love creating elegant and
                user-friendly websites and applications. Ever since I can remember, the endless possibilities of the IT
                industry have fascinated me. My strengths lie in converting complex problems into user-friendly
                solutions. I am convinced that good programming is more than just code. It's about helping people
                achieve their goals and realize their dreams. This is why I can be passionate about my job every day.
            </p>
        </div>
        <div class="aboutMePersonalBox">
            <img src="/assets/img/bulbMobile2.svg">
            <p translate>I'm a creative coder who's passionate about learning and staying up-to-date with the latest
                technologies.
                My attention to detail allows me to write clean and efficient code, and I'm dedicated to helping others
                achieve their goals.
            </p>
        </div>
        <div class="aboutMePersonalBox">
            <img src="/assets/img/puzzleMobile.svg">
            <p translate>I am thrilled to embark on a new career as a developer and eager to continue expanding my
                skills and
                knowledge. If you believe I would be a valuable addition to your team, please don't hesitate to reach
                out. </p>
        </div>
    </div>
    <div class="desktopPortraitContainer">
        <img src="/assets/img/bewerbungPortrait.png" alt="Portrait of Admin">
        <hr>
    </div>
    <img class="purpleShadow" src="/assets/img/aboutMePurpleShadow.svg">
</section>