<section>
    <div class="upperHeadContainer">
        <div class="heroContainer">
            <img class="purpleShadowMobile" src="./assets/img/purpleShadow.svg">
            <img class="greenShadowMobile" src="./assets/img/greenShadowHeader.svg">
            <img class="greenShadowDesktop" src="./assets/img/L. blue.svg">
            <img class="purpleShadowDesktop" src="./assets/img/D.blue.svg">
            <img class="heroProfile" src="./assets/img/bewerbung.png">
            <img class="profileShape" src="./assets/img/profileShape.svg">
        </div>
        <app-header-name-container></app-header-name-container>
        <div>
            <img class="profileShapeDesktop" src="./assets/img/Vector.png">
        </div>
    </div>
    <div class="socialIconContainer">
        <hr>
        <div class="socialIconBox">
            <a href="https://github.com/ImForsaken" target="_blank">
                <img src="./assets/img/githubIcon.svg">
            </a>
            <a href="mailto: Kevin-Herbst1993@web.de">
                <img src="./assets/img/emailIcon.svg">
            </a>
            <a href="https://www.linkedin.com/in/kevin-herbst-261992261/" target="_blank">
                <img src="./assets/img/linkedinIcon.svg">
            </a>
            <a class="emailDesktop" href="mailto: Kevin-Herbst1993@web.de">
                contact@herbst-kevin.de
            </a>
        </div>
    </div>
    <div class="scrollDownContainer">
        <div>
            <a translate class="scrollDown" href="#aboutMe"> Scroll down </a>
            <img class="scrollDownImg" src="./assets/img/scrollDown.svg" alt="scroll down button">
        </div>
    </div>
</section>