<!-- <section class="headSection">
    <div class="heroBox">
        <div class="heroProfileBox">
            <img class="purple_Shadow" src="/assets/img/purple_Shadow.svg">
            <img class="greenShadowHeader" src="/assets/img/greenShadowHeader.svg">
            <img class="heroProfile" src="/assets/img/profilePicture.svg">
            <img class="profileShape" src="/assets/img/profileShape.svg">
        </div>
        <app-header-name-container></app-header-name-container>
        <div class="socialIconContainer">
            <img class="purpleLineSvg" src="/assets/img/purpleLine.svg">
            <div class="socialIconBox">
                <a href="#">
                    <img src="/assets/img/githubIcon.svg">
                </a>
                <a href="#">
                    <img src="/assets/img/emailIcon.svg">
                </a>
                <a href="#">
                    <img src="/assets/img/linkedinIcon.svg">
                </a>
            </div>
        </div>
    </div>
</section> -->

<section>
    <div class="upperHeadContainer">
        <div class="heroContainer">
            <img class="purple_Shadow" src="/assets/img/purple_Shadow.svg">
            <img class="greenShadowHeader" src="/assets/img/greenShadowHeader.svg">
            <img class="greenShadowHeaderDesktop" src="/assets/img/L. blue.svg">
            <img class="purpleShadowDesktop" src="/assets/img/D.blue.svg">
            <!-- <img class="heroProfile" src="/assets/img/profilePicture.svg"> -->
            <img class="heroProfile" src="/assets/img/bewerbung2.png">
            <img class="profileShape" src="/assets/img/profileShape.svg">
        </div>
        <app-header-name-container></app-header-name-container>
        <div>
            <img class="profileShapeDesktop" src="/assets/img/Vector.png">
        </div>
    </div>
    <div class="socialIconContainer">
        <hr>
        <div class="socialIconBox">
            <a href="#">
                <img src="/assets/img/githubIcon.svg">
            </a>
            <a href="#">
                <img src="/assets/img/emailIcon.svg">
            </a>
            <a href="#">
                <img src="/assets/img/linkedinIcon.svg">
            </a>
            <a class="emailDesktop" href="mailto: Kevin-Herbst1993@web.de">
                contact@herbst-kevin.de
            </a>
        </div>
    </div>
    <div class="scrollDownContainer">
        <div>
            <a class="scrollDown" href="#aboutMe"> Scroll down </a>
            <img class="scrollDownImg" src="/assets/img/scrollDown.svg" alt="scroll down button">
        </div>
    </div>
</section>