<section>
    <div class="upperHeadContainer">
        <div class="heroContainer">
            <img class="purpleShadowMobile" src="./assets/img/purpleShadow.svg" alt="Purple shadow mobile version">
            <img class="greenShadowMobile" src="./assets/img/greenShadowHeader.svg" alt="Green shadow mobile">
            <img class="greenShadowDesktop" src="./assets/img/greenShadowDesktop.svg" alt="Green shadow desktop">
            <img class="purpleShadowDesktop" src="./assets/img/purpleShadowDesktop.svg"
                alt="Purple shadow desktop version">
            <img class="heroProfile" src="./assets/img/bewerbung.png" alt="Admin picture">
            <img class="profileShape" src="./assets/img/profileShape.svg" alt="Section shape layout">
        </div>
        <app-header-name-container></app-header-name-container>
        <div>
            <img class="profileShapeDesktop" src="./assets/img/vector.png" alt="Big section shape layout">
        </div>
    </div>
    <div class="socialIconContainer">
        <hr>
        <div class="socialIconBox">
            <a href="https://github.com/ImForsaken" target="_blank">
                <img src="./assets/img/githubIcon.svg">
            </a>
            <a href="mailto: contact@herbst-kevin.de">
                <img src="./assets/img/emailIcon.svg">
            </a>
            <a href="https://www.linkedin.com/in/kevin-herbst-261992261/" target="_blank">
                <img src="./assets/img/linkedinIcon.svg">
            </a>
            <a class="emailDesktop" href="mailto: contact@herbst-kevin.de">
                contact@herbst-kevin.de
            </a>
        </div>
    </div>
    <div class="scrollDownContainer">
        <div>
            <a translate class="scrollDown" href="#aboutMe"> Scroll down </a>
            <img class="scrollDownImg" src="./assets/img/scrollDown.svg" alt="scroll down button">
        </div>
    </div>
</section>