section {
  position: relative;
}

.portfolioHeadContainer {
  color: white;
  text-align: center;
  p {
    padding: 1rem;
  }
  @media (width > 991px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 60%;
    }
  }
}

.portfolioHeadline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4%;
  width: 90%;
  margin-left: auto;
  z-index: 1;
  position: relative;
  overflow: hidden;
  hr {
    background-color: #4b47ff;
    width: 10%;
    border: solid #4b47ff;
    margin: 0;
    border-radius: 4px 0px 0px 4px;
    &:first-child {
      &[data-aos="fade-left"] {
        transform: translate3d(30px, 0, 0);
      }
      &[data-aos^="fade"][data-aos^="fade"].aos-animate {
        opacity: 1;
        transform: translateZ(0);
      }
    }
    &:nth-child(3) {
      width: 35%;
      border-radius: 0;
      @media (width > 991px) {
        width: 39%;
      }
    }
  }
}

.greenShadow {
  position: absolute;
  bottom: -12%;
  right: 0%;
  filter: blur(9.5px);
}
