<section>
    <div id="portfolio" class="portfolioHeadContainer">
        <div class="portfolioHeadline">
            <hr>
            <h2>Portfolio</h2>
            <hr>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque maiores obcaecati odit, sapiente enim
            commodi
            quibusdam alias necessitatibus culpa dolorum est porro eveniet nobis iste officia id, ex ullam perspiciatis.
        </p>
    </div>
    <app-project></app-project>
</section>