<section>
    <div id="portfolio" class="portfolioHeadContainer">
        <div class="portfolioHeadline">
            <hr data-aos="fade-left" data-aos-delay="450" data-aos-duration="350">
            <h2>Portfolio</h2>
            <hr data-aos="fade-left" data-aos-delay="250" data-aos-duration="250">
        </div>
        <p translate>This page is a sample of my work - please feel free to try them out.
        </p>
    </div>
    <app-project></app-project>
    <img class="greenShadow" src="./assets/img/greenShadow.svg" alt="Green shadow picture">
</section>