<section>
    <div id="portfolio" class="portfolioHeadContainer">
        <div class="portfolioHeadline">
            <hr data-aos="fade-left" data-aos-delay="1150" data-aos-duration="550">
            <h2>Portfolio</h2>
            <hr data-aos="fade-left" data-aos-delay="250" data-aos-duration="1150">
        </div>
        <p translate>This page is a sample of my work - please feel free to try them out.
        </p>
    </div>
    <app-project></app-project>
    <img class="greenShadow" src="./assets/img/greenShadow2.svg" alt="green shadow picture">
</section>