.portfolioHeadContainer {
  color: white;

  p {
    padding: 1rem;
  }
}

.portfolioHeadline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 90%;
  margin-left: auto;
  z-index: 1;
  position: relative;
  h2 {
    font-size: 3rem;
  }

  hr {
    background-color: #4b47ff;
    width: 10%;
    border: solid #4b47ff;
    margin: 0;
    border-radius: 4px 0px 0px 4px;
    // border-top-left-radius: 4px;
    &:nth-child(3) {
      width: 35%;
      border-radius: 0;
    }
  }
}
