<section>
    <div id="mySkills" class="mySkills">
        <div class="skillsHeadlineContainer">
            <h2>My Skills</h2>
            <hr>
        </div>
        <p>
            Through my experience and dedication, I have honed my skills in frontend development and successfully
            delivered various projects with high-quality code.
        </p>
        <div class="btnContainerDesktop">
            <a>Get in touch</a>
        </div>
    </div>
    <div class="skillIconsContainer">
        <div *ngFor="let icon of mobileIconsArray">
            <img src="/assets/img/{{ icon.icon }}.svg">
            <p>{{ icon.name }}</p>
        </div>
    </div>
    <div class="btnContainer">
        <a href="#form">Get in touch</a>
    </div>
    <img [ngStyle]="{'position': 'absolute', 'bottom': '-330px', 'left': '0px'}"
        src="/assets/img/greenShadowMySkills.svg" alt="green Shadow">
</section>