<section id="mySkills">
    <div class="mySkills">
        <div class="skillsHeadlineContainer">
            <h2 translate>My Skills</h2>
            <hr data-aos="fade-left" data-aos-delay="650" data-aos-duration="650">
        </div>
        <p translate>
            Through my experience and dedication, I have honed my skills in frontend development and successfully
            delivered various projects with high-quality code.
        </p>
        <div class="btnContainerDesktop">
            <a translate>Get in touch</a>
        </div>
    </div>
    <div class="skillIconsContainer">
        <div class="iconBox" *ngFor="let icon of mobileIconsArray; let i=index" data-aos-offset="200"
            [attr.data-aos]="i % 2 == 0 ? 'zoom-out-right' : 'zoom-out-left'" data-aos-delay="600"
            data-aos-duration="950">
            <img src="./assets/img/{{ icon.icon }}.svg">
            <p>{{ icon.name }}</p>
        </div>
    </div>
    <div class="btnContainer">
        <a translate href="#form">Get in touch</a>
    </div>
    <img [ngStyle]="{'position': 'absolute', 'bottom': '-330px', 'left': '0px', 'filter': 'blur(20px)'}"
        src="./assets/img/greenShadowMySkills.svg" alt="green Shadow">
</section>