<section>
    <div id="mySkills">
        <div
            [ngStyle]="{'display': 'flex', 'position': 'relative', 'justify-content': 'end', 'align-items': 'center', 'gap': '3%'}">
            <h2>My Skills</h2>
            <hr>
        </div>
        <p [ngStyle]="{'display': 'flex', 'padding': '1rem', 'text-align': 'end'}">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, sed! Ipsum dicta dignissimos quam nam
            ullam voluptatem enim odit reiciendis porro repellat, autem optio ea voluptatum hic, corrupti perspiciatis
            odio.
        </p>
    </div>
    <div class="skillIconsContainer">
        <div *ngFor="let icon of mobileIconsArray">
            <img src="/assets/img/{{ icon.icon }}.svg">
            <p>{{ icon.name }}</p>
        </div>
    </div>
    <div class="btnContainer">
        <button>Get in touch</button>
    </div>
    <img [ngStyle]="{'position': 'absolute', 'bottom': '-330px', 'left': '0px'}"
        src="/assets/img/greenShadowMySkills.svg" alt="green Shadow">
</section>