<div class="imprintContainer">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <div>
        <p>Kevin Herbst<br />
            Kreuzweg 9<br />
            73660 Urbach</p>
    </div>
    <div>
        <h2>Kontakt</h2>
        <p>Telefon: +49 (0)7181 990668<br />
            E-Mail: contact@herbst-kevin.de</p>
    </div>
    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
</div>