:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 64px;
  padding: 1rem;
  @media (min-width: 992px) {
    padding: 4rem;
    margin-top: 100px;
  }
}

.imprintContainer {
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  a {
    text-decoration: none;
    color: white;
  }
  h2 {
    font-size: calc(1rem + 0.2vw) !important;
  }
  @media screen and (max-width: 520px) {
    text-align: center;
  }
}
