<div class="headerNameContainer">
    <div class="headerNameBox">
        <span data-aos="fade-up" data-aos-delay="800" translate class="iAmBox">I
            am</span>
        <div class="khFrontEnd">
            <span data-aos-delay="600" data-aos="fade-down">KEVIN HERBST</span>
            <span data-aos-delay="1300" data-aos="fade-left" translate id="dev"
                [ngClass]="{'de-font-size': this.language === 'de'}">FRONTEND
                DEVELOPER</span>
        </div>
    </div>
    <a translate href="#form" class="letsTalkBtn">Let´s talk!</a>
</div>