.headerNameContainer {
  color: white;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem 1rem;
  overflow: hidden;

  @media (min-width: 992px) {
    position: absolute;
    top: 15%;
    right: 4rem;
    padding: 0;
    a {
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }

  a {
    margin: 1rem 0px;
    color: white;
    padding: 15px 30px;
    border: none;
    background: #00bee8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: clamp(0.8rem, 3vw, 1.4rem);
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      background: #4b47ff;
      transform: scale(1.1);
    }
    @media (min-width: 992px) {
      font-size: clamp(1rem, 2vw, 2rem);
    }
    @media screen and (max-width: 360px) {
      padding: 10px 20px;
    }
  }
}

.headerNameBox {
  display: flex;
  white-space: nowrap;
}

.iAmBox {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(1.5rem, 6.8vw, 3.75rem);
  line-height: 120%;
  transform: rotate(180deg) translate(12%, 14%);
  writing-mode: vertical-rl;

  &[data-aos="fade-up"] {
    transform: translate3d(0, 0, 0) translateY(-500px) rotate(180deg);
  }
  &.aos-animate {
    transform: translateY(0px) translate3d(0, 0, 0) translateZ(0) rotate(180deg)
      translate(12%, 14%) !important;
  }

  @media (min-width: 992px) {
    font-size: clamp(0.5rem, 4.65vw, 6rem);
    &.aos-animate {
      transform: translateY(0px) translate3d(0, 0, 0) translateZ(0)
        rotate(180deg) translate(10%, 6.5%) !important;
    }
  }
}

.khFrontEnd {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  span {
    &:first-child {
      font-weight: 700;
      font-size: clamp(2.2rem, 10vw, 5.5rem);
      line-height: 120%;
      @media (min-width: 992px) {
        font-size: clamp(2.22rem, 6.2vw, 10rem);
      }
    }
    &:nth-child(2) {
      color: #4b47ff;
      font-size: clamp(1.45rem, 6.58vw, 3.62rem);
      line-height: 120%;
      @media (min-width: 992px) {
        font-size: clamp(0.8rem, 4.09vw, 6.57rem);
      }
    }
  }
}

.de-font-size {
  font-size: clamp(1.38rem, 6.23vw, 3.43rem) !important;
  @media (min-width: 992px) {
    font-size: clamp(0.8rem, 3.87vw, 6.57rem) !important;
  }
}
