section {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  @media (min-width: 992px) {
    width: unset;
    padding: 1rem 4rem;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  margin-bottom: 10%;

  img {
    width: 40%;
    aspect-ratio: 1 / 1;
    &:first-child {
      z-index: 2;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: space-between;
    gap: 15%;
    img {
      width: 40%;
    }
  }
}

.projectContainerReverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  margin-bottom: 10%;
  img {
    width: 40%;
    aspect-ratio: 1 / 1;
    &:first-child {
      z-index: 2;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row-reverse;
    margin-bottom: 7%;
    justify-content: space-between;
    gap: 15%;
    * {
      text-align: end;
    }
    .btnBox {
      justify-content: flex-end;
    }
    img {
      width: 40%;
    }
  }
}

.projectShadow {
  height: unset;
  width: unset !important;
  aspect-ratio: unset !important;
  position: absolute;
  top: -13%;
  left: -25%;
  width: 55% !important;
  rotate: 87deg;
  filter: blur(25px);
}

.projectPreview {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 35px;
  width: 70%;
  @media (min-width: 992px) {
    width: 40%;
  }
}

.projectTextContainer {
  text-align: center;

  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    color: #4b47ff;
    margin: 0;
  }

  p {
    &:nth-child(2) {
      font-size: 1.5rem;
      line-height: 120%;
      color: #00bee8;
    }
    &:nth-child(3) {
      font-size: 1rem;
      line-height: 120%;
      color: #ffffff;
    }
  }
  @media (min-width: 992px) {
    text-align: start;
  }
}

.btnBox {
  display: flex;
  justify-content: space-around;
  width: 100%;

  a {
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:first-child {
      background: #4b47ff;
      border: none;
    }
    &:nth-child(2) {
      background-color: transparent;
      border: 2px solid #00bee8;
      box-shadow: 0px 0px 8px #00bee8;
    }
    &:hover {
      background-color: #00bee8;
      cursor: pointer;
    }
    @media screen and (max-width: 440px) {
      padding: 10px;
    }
  }

  @media (min-width: 992px) {
    justify-content: unset;
    gap: 15%;
  }
}
