<section>
    <ng-container *ngFor="let project of projects; let i = index">
        <div [attr.data-aos]="i % 2 == 0 ? 'fade-down' : 'fade-up'" data-aos-offset="50" data-aos-delay="250"
            data-aos-duration="500" data-aos-easing="linear"
            [ngClass]="(i % 2 === 0) ? 'projectContainer' : 'projectContainerReverse'">
            <img data-aos="flip-up" data-aos-delay="350" data-aos-duration="1500" src="./assets/img/{{project.image}}"
                alt="{{project.title}} project image">
            <img *ngIf="(i+1) % 3 === 0" class="projectShadow" src="./assets/img/purpleProjectShadow2.svg"
                alt="Purple shadow">
            <div class="projectPreview">
                <div class="projectTextContainer">
                    <h3>{{project.title}}</h3>
                    <p>
                        <ng-container *ngFor="let skill of project.skills; let isLast=last">
                            {{skill}}{{isLast ? '' : ' | '}}
                        </ng-container>
                    </p>
                    <p [ngStyle]="{'word-break': 'break-word'}">{{language === 'en' ? project.text[0] :
                        project.text[1]}}</p>
                </div>
                <div class="btnBox">
                    <a *ngFor="let link of project.links; let i = index" [href]="link" target="_blank">
                        {{link.includes('github') ? 'Github' : 'Live test'}}
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</section>