<section>
    <ng-container *ngFor="let project of projects; let i = index">
        <div [ngClass]="(i % 2 === 0) ? 'projectContainer' : 'projectContainerReverse'">
            <img src="/assets/img/{{project.image}}">
            <img *ngIf="(i+1) % 3 === 0" class="projectShadow" src="/assets/img/purpleProjectShadow2.svg">
            <div class="projectPreview">
                <div class="projectTextContainer">
                    <h3>{{project.title}}</h3>
                    <p>
                        <ng-container *ngFor="let skill of project.skills; let isLast=last">
                            {{skill}}{{isLast ? '' : ' | '}}
                        </ng-container>
                    </p>
                    <p>{{project.text}}</p>
                </div>
                <div class="btnBox">
                    <a *ngFor="let link of project.links; let i = index" [href]="link" target="_blank">
                        {{link.includes('github') ? 'Github' : 'Live test'}}
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</section>